<div class="modal fade" id="objectPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 id="addObjectHeader" class="modal-title"><i class="fas fa-plus"></i> Nesne Ekle</h4>
                <h4 id="editObjectHeader" class="modal-title"><i class="fas fa-edit"></i> Nesne Düzenle</h4>
                <h4 id="deleteObjectHeader" class="modal-title"><i class="fas fa-minus"></i> Nesne Sil</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>