<form action="{% url 'adduser' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">Adı</label>
        <span style="float:right;">
            {{form.first_name}}
        </span>
    </div>
    <div class="form-group">
        <label for="last_name">Soyadı</label>
        <span style="float:right;">
            {{form.last_name}}
        </span>
    </div>
    <div class="form-group">
        <label for="username">Kullanıcı adı</label>
        <span style="float:right;">
            {{form.username}}
        </span>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <span style="float:right;">
            {{form.email}}
        </span>
    </div>
    <div class="form-group">
        <label for="password">Şifre</label>
        <span style="float:right;">
            {{form.password}}
        </span>
    </div>
    <div class="form-group">
        <label for="confirm_password">Şifre Tekrar</label>
        <span style="float:right;">
            {{form.confirm_password}}
        </span>
    </div>
    <div class="form-group">
        <label for="isAdmin">Yönetici mi?</label>
        <span style="float:right;">
            {{form.is_admin}}
        </span>
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn ml-2 btn-primary float-right">
</form>
