<div class="modal fade" id="userPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 id="addUserHeader" class="modal-title"><i class="fas fa-user-plus"></i> Kullanıcı Ekle</h4>
                <h4 id="editUserHeader" class="modal-title"><i class="fas fa-user-edit"></i>  Kullanıcı Güncelle</h4></h4>
                <h4 id="deleteUserHeader" class="modal-title"><i class="fas fa-user-minus"></i> Kullanıcı Sil</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>