<div class="modal fade" id="documentPopup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 id="deleteDocumentHeader" class="modal-title"><i class="fas fa-file-pdf"></i> Arama Sil</h4>
                <h4 id="deleteSearchHistoryHeader" class="modal-title"><i class="fas fa-search-minus"></i>  Arama Kaydı Sil</h4></h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>