{% if messages %}
  {% for message in messages %}
    <div id="message" class="container">
      <div class="alert alert-{{ message.tags }} alert-dismissible alert-fixed" id="{{ message.tags }}-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Hata:
          {% endif %}
        </strong>
        {{ message }}
        {% for key, value in form.errors.items %}
          {{ value }}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endif %}

<script type="text/javascript">
  $(function() {
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
  });
</script>

<style>
  .alert-fixed {
    position:fixed;
    margin-right: 10px; 
    bottom: 0px; 
    right: 0px; 
    width: 350px;
    z-index:9999; 
}
</style>